<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Title" value="タイトル"/>
    <add key="Author" value="作成者"/>
    <add key="CoverPageSize" value="A4"/>
    <add key="MainPageSize" value="A5"/>
    <add key="Binding" value="Right"/>
  </appSettings>
</configuration>